@{
    ViewData["Title"] = "Informações sobre mim";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Contato: @ViewData["Contato"]</p>


<address>
    <strong>Currículo:  </strong> <a href="http://lattes.cnpq.br/1761897783036415">Lattes</a>
</address>